body,
html {
  margin: 0;
}

body {
  background-color: #dfdedf;
}

* {
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
}

a,
span,
label,
p,
div,
li {
  color: #2e2631;
  font-size: 14px;
}

h1 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Quicksand', sans-serif;
}

a {
  font-weight: bold;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 900px;
  padding: 0 24px;
}

.flex-grow {
  flex-grow: 1;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

/* Button */
.btn {
  display: inline-flex;
  flex-direction: row;
  height: 36px;
  padding: 0 12px;
  border-radius: 5px;
  box-sizing: border-box;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-out;
  background-color: #5f5064;

  > * {
    transition: all 0.3s ease-out;
    color: white;
  }

  > i {
    font-size: 18px;
    margin-right: 8px;
  }

  > span {
    white-space: nowrap;
    font-weight: bold;
  }

  &:hover {
    background-color: #504255;
  }

  &.outlined {
    border: 2px solid #b5aab9;
    background-color: transparent;

    > * {
      color: #b5aab9;
    }

    &:hover {
      border: 2px solid white;

      > * {
        color: white;
      }
    }
  }

  &.big {
    height: 48px;
    padding: 0 18px;

    > i {
      font-size: 24px;
    }

    > span {
      font-size: 16px;
    }
  }

  &.itch {
    background-color: #ff2449;

    &:hover {
      background-color: #de092d;
    }
  }

  &.steam {
    background-color: #192837;

    &:hover {
      background-color: #19334c;
    }

    &.dark {
      background-color: #73c2e1;

      > * {
        color: black;
        opacity: 0.8;
      }

      &:hover {
        background-color: #97d9f3;
      }
    }
  }
}

/* HEADER */
header {
  height: 60px;
  background-color: #3d3341;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #2e2631;
  z-index: 99;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .actions {
    > * {
      margin-left: 8px;
    }

    @media only screen and (max-width: 700px) {
      .btn {
        > i {
          margin-right: 0;
        }

        > span {
          display: none;
        }

        &#play-in-browser {
          display: none;
        }
      }
    }
  }

  #logo {
    margin: 0;
    padding: 0;

    img {
      display: block;
    }
  }
}

main > section {
  border-bottom: 2px solid rgba($color: #000, $alpha: 0.2);
  display: flex;
  justify-content: center;
  padding-top: 36px;
  padding-bottom: 36px;

  h1 {
    text-align: left;
  }

  .headline {
    display: flex;
    align-items: center;
    margin-bottom: 36px;

    > img {
      margin-right: 12px;
    }

    > span {
      font-size: 32px;
      text-transform: uppercase;
      font-weight: 300;
      font-family: 'Quicksand', sans-serif;
    }

    @media only screen and (max-width: 700px) {
      > img {
        display: none;
      }
    }
  }

  p,
  li {
    font-size: 16px;
  }
}

/* Mood Section */
main > section#mood {
  width: 100%;
  height: 250px;
  background-image: url(./../images/mood.jpg);
  background-repeat: repeat-x;
  background-position: center bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  .logo {
    margin: 0;
    margin-bottom: 40px;
    padding-left: 24px;
    padding-right: 24px;

    > img {
      width: 100%;
    }
  }
}

/* Trailer section */
main section.trailer {
  .ar {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    .yt-iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
}

/* Get it */
.get-it {
  .action {
    font-size: 0;

    > .btn {
      margin-right: 12px;
      margin-bottom: 12px;

      @media only screen and (max-width: 700px) {
        width: 100%;
      }
    }
  }
}

/* Tracks */
.tracks {
  .track {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-out;
    padding: 6px 16px;
    border-radius: 99px;

    &:hover {
      background-color: rgba($color: #3d3341, $alpha: 0.1);

      > img {
        transform: scale(1.1);
      }
    }

    > * {
      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }
    }

    > img {
      transition: transform 0.3s ease-out;
      flex-grow: 0;
      display: block;
    }

    .infos {
      display: flex;
      flex-direction: column;

      > .title {
        font-size: 16px;
        color: #3d3341;
      }

      > .subtitle {
        font-size: 12px;
        opacity: 0.8;
      }
    }
  }

  @media only screen and (max-width: 700px) {
    border: 1px solid rgba($color: #000, $alpha: 0.2);

    .track {
      flex-direction: column;
      align-items: flex-start;
      border-radius: 0;
      border-bottom: 1px solid rgba($color: #000, $alpha: 0.2);
      padding: 16px;
      padding-top: 12px;
      overflow: hidden;
      position: relative;

      > img {
        left: -24px;
        bottom: -24px;
        position: absolute;
        opacity: 0.3;
        transform: scale(2);
      }

      &:hover {
        > img {
          transform: scale(2);
        }
      }

      > .infos {
        margin-bottom: 12px;
        margin-right: 0;
      }

      > .actions {
        align-self: flex-end;
      }
    }
  }
}

/* Devs */
.developers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;

  @media only screen and (max-width: 700px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .developer {
    display: flex;
    flex-direction: column;
    border-radius: 99px;
    background-color: rgba($color: #3d3341, $alpha: 0.1);
    overflow: hidden;
    justify-content: center;
    transition: all 0.3s ease-out;

    &:hover {
      background-color: rgba($color: #3d3341, $alpha: 0.18);

      .avatar {
        transform: scale(1.1);
      }
    }

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .col {
      flex: 1;
      padding: 12px;

      &.shrink {
        flex-grow: 0;
        flex-shrink: 1;
      }
    }

    .meta {
      font-size: 0;
      padding-right: 16px;

      > a {
        display: inline-flex;
        width: 24px;
        height: 24px;
        justify-content: center;
        align-items: center;
        border-radius: 99px;
        transition: all 0.3s ease-out;

        > i {
          color: #5f5064;
        }

        &:hover {
          background-color: rgba($color: #5f5064, $alpha: 0.2);
        }
      }
    }

    .avatar {
      transition: all 0.3s ease-out;
      flex-shrink: 1;
      width: 64px;
      height: 64px;
      margin: 0;
      padding: 0;
      border-radius: 99px;
      overflow: hidden;
      box-shadow: 0 2px 5px rgba($color: #000, $alpha: 0.2);

      > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .info {
      display: flex;
      margin-bottom: 2px;
      align-items: center;

      > .name {
        font-size: 16px;
        font-weight: bold;
      }
    }

    .roles {
      font-size: 0;

      > span {
        margin: 2px;
        display: inline-block;
        background-color: white;
        padding: 1px 7px;
        border-radius: 99px;
        font-size: 12px;
      }
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  padding: 48px 0;
  background: url(./../images/footer.gif) repeat;
  background-attachment: fixed;

  > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > img {
      display: block;
      margin-bottom: 48px;
    }

    > .legal {
      width: 100%;
      border-top: 2px solid rgba($color: #000, $alpha: 0.2);
      text-align: center;

      p {
        font-size: 11px;
        color: #788795;
      }
    }
  }
}
